.chip {
    display: inline-block;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    background-color: #f1f1f1;
}
.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}
</style>