<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" , href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" , href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js" ></script>

  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

</head>
<body>

<div class="container">
  <h2>Moja ekipa</h2>
  <p>Navodilo</p>
  Sestavite ekipo 15 igralcev. Na voljo imate 100 denarnih enot, ekipa pa mora vsebovati 2 vratarja (GK),
5 obrambnih igralcev (DEF), 5 veznih igralcev (MID) in 3 napadalce (FWD). Iz posamezne ekipe lahko izberemo
največ 3 igralce!
  <p >Trenutna cena: <p id='trenutnaCena'></p> </p>
</div>
<div style="width: 100%;">
  <div style="float:left; width:50%">
<table id="example" class="display" cellspacing="0" >
      <thead>
        <tr>
          <th>Igralec</th>
          <th>Pozicija</th>
          <th>Klub</th>
          <th>Cena</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Igralec</th>
        <th>Pozicija</th>
        <th>Klub</th>
        <th>Cena</th>
      </tr>
      </tfoot>
      <tbody>
      %for ime, pozicija, klub, cena in rezultat:
      <tr>
        <td> {{ime}} </td>
        <td>{{pozicija}}</td>
        <td> {{klub}}</td>
        <td> {{cena}}</td>
      </tr>
      %end
      </tbody>
    </table>
</div>
  <div  style="float:left; width:50%">
<table id="example1" class="display" cellspacing="0" >
      <thead>
        <tr>
          <th>Igralec</th>
          <th>Pozicija</th>
          <th>Klub</th>
          <th>Cena</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Igralec</th>
          <th>Pozicija</th>
          <th>Klub</th>
          <th>Cena</th>
      </tr>
      </tfoot>
      <tbody>
      </tbody>
    </table>
 </div>
</div>
<button id="button"> Delete</button>
</body>
  <script>

    $(document).ready(function() {
        $('#example').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
    var table = $('#example').DataTable();
    var cena = 0;
    $('#example tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');

        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            var cena_igralca =$(this).closest('tr').find('td:last-child').text();
            var row = $(this).closest('tr').html();
            $('#example1 tbody').append('<tr>'+row+'</tr>');
            cena += Number(cena_igralca);
            document.getElementById('trenutnaCena').innerHTML = String(cena);
        }
    } );
    var table1 = $('#example1').DataTable();
    $('#example1 tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table1.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );
     $('#button').click( function () {
        table1.row('.selected').remove().draw( false );
    } );
} );


  </script>
</html>
